/* TODO: Add sitewide styles */

/* navigation bar */

.hidden {
  display: none;
}

li {
  list-style-type: none;
}

.navi {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 40px;
  margin-bottom: 20px;
}

.profile-dropdown {
  border: 3px solid black;
  border-radius: 10px;
  width: 160px;
  height: 140px;
  font-size: 20px;
  position: fixed;
  right:15px
}

ul.profile-dropdown {
  justify-content: center;
  align-items: center;
}

.id-card{
  height: 40px;
  width: 50px;
  border-radius: 10px;
}

.fa-solid.fa-id-card {
  font-size: 30px;
}

.underprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.login button{
  width: 150px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: yellowgreen;
  margin-right: 25px;
  font-weight: bold;
}

.signup button{
  width: 150px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background-color: yellow;
  margin-right: 25px;
  font-weight: bold;
}

.leftlogo,
.leftlogo > a {
  font-size: 25px;
  color: orangered;
  text-decoration: none;
}

.rightlogo {
  font-size: 25px;
  right: 15px;
  height: auto;
}

.rightlogo > a {
  margin-right: 10px;
  text-decoration: none;
  color: darkblue;
}

.profilesection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

}

/* Landing Page */

.spotshow {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;
  margin: 0 auto;
}

.spotsbox {
  padding: 0 5px;
}

@media (max-width: 500px) {
  .spotshow {
    display: flex;
    flex-direction: column;
  }
}

/* Spot Details */

.spotdetailpage {
  min-width: 1000px;
  max-width: 1000px;
}

.spotImages {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 5px
}

.leftimage {
  max-width: 50%;

  .firstImage {
    width: 100%;
    height: 300px
  }
}

.righttopimages,
.rightbottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 48%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .otherImage {
      width: 100%;
      height: 148px;
    }
  }
}

.pricereview {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  width: 380px;
  text-align: center;
}

.Spot-Info {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Review Details at Spot detail Page */

.reviews{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

/* Spot Form */

.newspotaddress {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.citystate,
.latlng,
.spotdes,
.spottitle,
.spotprice,
.spoturl {
  border-bottom: 1px solid black;
}

.citystate {
  margin-bottom: 15px;
}

.citystate label,
.latlng label,
.spotdes label,
.spottitle label,
.spotprice label,
.spoturl label {
  display: block;
}

.latlng label,
.citystate label {
  width: 48%;
}

.latlng,
.citystate {
  display: flex;
  justify-content: space-between;
}

.createbutton {
  margin-top: 10px;
}

.spotbutton,
.reservebutton,
.loginbutton,
.signupbutton,
.submitreviewbutton,
.deletereviewbutton,
.deletespotbutton {
  background-color: orangered;
  color: white;
  box-shadow: 3px 3px 3px black;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.notdeletereviewbutton,
.notdeletespotbutton {
  background-color: grey;
  color: white;
  box-shadow: 3px 3px 3px black;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.emailcontainer {
  border-bottom: 1px solid black;
}

.spotimage {
  width: 400px;
  height: 400px;
}

.spotImages {
  display: flex;
}

.citystaterating {
  display: flex;
  justify-content: space-between;
}

.managereviewlink {
  border-bottom: 1px solid black;
}

.errormsg {
  color: red;
  font-weight: bold;
}

.managespotlink {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.logoutbutton {
  background-color: grey;
  color: white;
  height: 25px;
  width: 100px;
  border-radius: 25px;
}

.createspotform {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.city-state-input {
  flex: 0 0 48%;
  margin-right: 10px;
  box-sizing: border-box;
}

.signupform,
.loginform,
.reviewform {
  padding: 20px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid lightblue;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.logindemo,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotprice label {
  display: flex;
  align-items: center;
}

.spotprice span {
  margin-right: 5px;
}

.reviewitem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.firstname {
  font-weight: bold;
  font-size: 20px;
}

.reviewdate {
  color: grey;
}

.spotdetailpage {
  max-width: 1000px;
  margin: 0 auto;
}

.NEW,
.numreviews {
  font-weight: bold;
}

.managespotcontainer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.managespotfirstdiv{
  margin-left: 180px;
}

input[type=radio]{
  display: none;;
}

.fa-regular.fa-star {
  cursor: pointer;
}

#modal-content{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: auto;
  border-radius: 20px;
  border: 5px solid black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.signupbutton:disabled,
.loginbutton:disabled,
.submitreviewbutton:disabled,
.spotbutton:disabled
{
   background-color: lightgrey;
}

.managespotbuttons,
.managereviewbuttons {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
