/* TODO: Add sitewide styles */
.hidden {
  display: none;
}

.fa-id-card {
  font-size: 40px;
  cursor: pointer;
  right: 50px;
  top: 20px;
}

.id-card {
  font-size: 30px;
  cursor: pointer;
  margin-left: 250px;
}

.Spot-Info {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.pricereview {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  width: 380px;
  text-align: center;
}

.navi {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 35px;
}

.leftlogo,
.leftlogo > a {
  font-size: 25px;
  color: orangered;
  text-decoration: none;
}

.rightlogo {
  font-size: 20px;
  right: 15px;
}

.rightlogo > a {
  margin-right: 10px;
  text-decoration: none;
  color: darkblue;
}

li {
  list-style-type: none;
}

.newspotaddress {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.citystate,
.latlng,
.spotdes,
.spottitle,
.spotprice,
.spoturl {
  border-bottom: 1px solid black;
}

.citystate {
  margin-bottom: 15px;
}

.citystate label,
.latlng label,
.spotdes label,
.spottitle label,
.spotprice label,
.spoturl label {
  display: block;
}

.latlng label,
.citystate label {
  width: 48%;
}

.latlng,
.citystate {
  display: flex;
  justify-content: space-between;
}

.createbutton {
  margin-top: 10px;
}

.spotbutton,
.reservebutton,
.loginbutton,
.signupbutton,
.submitreviewbutton {
  background-color: orangered;
  color: white;
  box-shadow: 3px 3px 3px black;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.emailcontainer {
  border-bottom: 1px solid black;
}

.spotimage {
  width: 400px;
  height: 400px;
}

.spotImages {
  display: flex;
}

.spotshow {
  margin-top: 120px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.citystaterating {
  display: flex;
  justify-content: space-between;
}

.spotImages {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.leftimage {
  max-width: 50%;

  .firstImage {
    width: 100%;
    height: 300px
  }
}

.righttopimages,
.rightbottom {
  flex: 1;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    .otherImage {
      width: 100%;
      height: 148px;
    }
  }
}

.spotsbox {
  padding: 0 10px;
}

.profile-dropdown {
  border: 3px solid black;
  border-radius: 10px;
  width: 160px;
  height: 140px;
  font-size: 20px;
  margin-left: 270px;
}

.managereviewlink {
  border-bottom: 1px solid black;
}

.errormsg {
  color: red;
  font-weight: bold;
}

.managespotlink {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.logoutbutton {
  background-color: grey;
  color: white;
  height: 25px;
  width: 100px;
  border-radius: 25px;
}

.createspotform {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.city-state-input {
  flex: 0 0 48%;
  margin-right: 10px;
  box-sizing: border-box;
}

.signupform,
.loginform,
.reviewform {
  padding: 20px;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid lightblue;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.logindemo,
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotprice label {
  display: flex;
  align-items: center;
}

.spotprice span {
  margin-right: 5px;
}

.reviewitem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.firstname {
  font-weight: bold;
  font-size: 20px;
}

.reviewdate {
  color: grey;
}

.spotdetailpage {
  max-width: 1000px;
  margin: 0 auto;
}

.NEW,
.numreviews {
  font-weight: bold;
}

.managespotcontainer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.managespotfirstdiv{
  margin-left: 180px;
}

input[type=radio]{
  display: none;;
}

.fa-regular.fa-star {
  cursor: pointer;
}

#modal-content{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 500px;
  height: auto;
  border-radius: 20px;
  border: 2px solid black;
}

.signupbutton:disabled,
.loginbutton:disabled,
.submitreviewbutton:disabled
{
   background-color: lightgrey;
}
