/* TODO: Add sitewide styles */
.hidden {
  display: none;
}

.fa-id-card {
  font-size: 30px;
  cursor: pointer;
  right: 10px;
  top: 25px;

}

.Spot-Info {
  border-bottom: 1px solid black;
}

.navi {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 35px;
}

.leftlogo, .leftlogo > a {
  font-size: 25px;
  color: orangered;
  text-decoration: none;
}

.rightlogo {
  font-size: 20px;
}

.rightlogo > a {
  margin-right: 30px;
  text-decoration: none;
  color: darkblue;
}

li {
  list-style-type: none;
}

.newspotaddress {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.citystate,
.latlng,
.spotdes,
.spottitle,
.spotprice,
.spoturl {
  border-bottom: 1px solid black;
}

.citystate{
  margin-bottom: 15px;
}

.citystate label,
.latlng label,
.spotdes label,
.spottitle label,
.spotprice label,
.spoturl label {
  display: block;
}

.latlng label,
.citystate label {
  width: 48%;
}

.latlng,
.citystate {
  display: flex;
  justify-content: space-between;
}

.createbutton {
  margin-top: 10px;
}

.spotbutton, .reservebutton, .loginbutton, .signupbutton {
  background-color: orangered;
  color: white;
  box-shadow: 3px 3px 3px black;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.emailcontainer {
  border-bottom: 1px solid black;
}

.spotimage {
  width: 400px;
  height: 400px;
}

.spotshow {
  margin-top: 120px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.citystaterating {
  display: flex;
  justify-content: space-between;
}

.spotsbox {
  padding: 0 10px;
}

.profile-dropdown {
  border: 2px solid black;
  border-radius: 25px;
  width: 180px;
  height: 100px;
  font-size: 20px;
}

.errormsg {
  color: red;
  font-weight: bold;
}

.managespotlink {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.logoutbutton {
  background-color: grey;
  color: white;
  height: 25px;
  width: 100px;
  border-radius: 25px;
}

.createspotform {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}


.city-state-input {
  flex: 0 0 48%;
  margin-right: 10px;
  box-sizing: border-box;
}

.signupform, .loginform {
  border-radius: 5px;
  padding: 20px;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid lightblue;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.logindemo, .signup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotprice label {
  display: flex;
  align-items: center;
}

.spotprice span {
  margin-right: 5px;
}
